.st-wrap {
	padding: 5px;
	display: flex;
	font-family: "Roboto Condensed", sans-serif;
	gap: 1rem;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.st-strike {
	text-decoration: line-through;
	text-align: center;
}
.st-wrap img {
	cursor: pointer;
	transition: 0.3s;
}
.st-wrap img:hover {
	transform: scale(1.2);
}
.stm {
	/* max-width: 100%; */
	height: 48px;
	width: 48px;
	align-self: center;
}
.st-wrap p {
	font-size: 1rem;
	font-weight: 200;
}
@media (max-width: 800px) {
	.st-wrap img:hover {
		transform: none;
	}
	.st-wrap {
		flex-wrap: wrap;
	}
}
@media (max-width: 505px) {
	.st-wrap h2 {
		font-size: 1rem;
	}
	.st-wrap p {
		font-size: 12px;
	}
	.stm {
		height: 40px;
		width: 40px;
	}
}
@media (max-width: 355px) {
	.st-wrap h2 {
		font-size: 0.8rem;
	}
	.st-wrap p {
		font-size: 12px;
	}
	.stm {
		height: 40px;
		width: 40px;
	}
}
