/* 200;300;400;600 */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: default;
	/* border: 1px solid red; */
}

body {
	background: white;
	/* background: rgb(233, 226, 226); */
	/* background: #263238; */
	/* background: #060c23; */
	/* opacity: 70%; */
}

h1,
h2,
h3,
p {
	margin: 0;
}
